<b><font size='6'>Set up Notebook Environment</font></b><br>
<font size='4'>Import Packages.</font>

In [4]:
# bigquery database
from google.cloud import bigquery

# local database
from sqlalchemy import create_engine

# data manipulation and exploration
import pandas as pd         

# time intervals between jobs 
import time           

# environment paths
import os

<b><font size='6'>Initialize Variables and Objects</font></b><br>
<font size='4'>Provide BigQuery Credentials and Initialize Client Object.</font>

In [2]:
# bigquery credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'central_database.json'

In [3]:
# initialize client object
client = bigquery.Client()

<b><font size='6'>Import Data</font></b><br>
<font size='4'>Import data from MySQL.</font>

In [6]:
# create a mysql engine
mysql_engine = create_engine('mysql://adrianjuliusaluoch:#dohardthings@localhost:3306/gsearch_jobs')

In [8]:
# query data
dataframe = pd.read_sql_query('SELECT * FROM data_science_jobs',mysql_engine)

<b><font size='6'>Export to BigQuery</font></b><br>
<font size='4'>Export data from MySQL database to BigQuery.</font>

In [9]:
# table id
table_id = 'central-database-414114.cloud_storage.gsearch_jobs'

In [10]:
# load dataframe into bigquery
job = client.load_table_from_dataframe(dataframe,table_id)

# specify loop to ensure job is complete
while job.state != 'DONE':
    time.sleep(5)
    job.reload()
    print(job.state)

RUNNING
DONE

<b><font size='6'>Verify data in BigQuery</font></b><br>
<font size='4'>Import data from BigQuery into a dataframe.</font>

In [11]:
# sql query to retrieve data
sql = (
    'SELECT *'
    'FROM cloud_storage.gsearch_jobs'
)

# execute sql query
dataframe = client.query(sql).to_dataframe()

In [12]:
dataframe.iloc[:3]

,title,company_name,location,via,description,extensions,posted_at,schedule_type,work_from_home,salary,date_time,description_tokens
0,Data Analyst,"ClifyX, INC","Fort Smith, AR",via BeBee,"Job Description\n\nHi, hope you are doing well...",['22 hours ago'],22 hours ago,None,NaN,None,2023-08-10 03:00:11.513337,"['excel', 'sql', 'word', 'tableau', 'power_bi']"
1,Data Visualization Analyst Senior,"CTG, Inc.","Norman, OK",via BeBee,Data Visualization Analyst Senior\n\nUnited St...,"['19 hours ago', 'Health insurance']",19 hours ago,None,NaN,None,2023-08-20 03:00:33.876054,['sql']
2,"Network Data Analyst - Overland Park, KS",UnitedHealth Group,"Overland Park, KS",via The Muse,For those who want to invent the future of hea...,"['3 hours ago', 'Health insurance']",3 hours ago,None,NaN,None,2023-04-07 03:00:18.941267,"['excel', 'sql', 'sas', 'spreadsheet', 'cognos..."