<b><font size='6'>Import Packages</font></b>

In [1]:
import zipfile  
import os             
import pandas as pd  
pd.set_option('display.max_columns',100)      
from sqlalchemy import create_engine
import mysql.connector

<b><font size='6'>DataBase Connection</font></b>

In [17]:
# db = mysql.connector.connect(user='export',database='export',password='export')
# cursor = db.cursor()

# cursor.execute('create database gsearch_jobs')

# cursor.close()
# db.close()

In [2]:
mysql_engine = create_engine('mysql://export:export@localhost:3306/gsearch_jobs')

<b><font size='6'>Unzip File and Load the Data</font></b>

In [3]:
data = 'data'
with zipfile.ZipFile('data-analyst-job-postings-google-search.zip', 'r') as zip_ref:
    zip_ref.extractall(data)
os.remove('data-analyst-job-postings-google-search.zip')

In [4]:
for index in os.listdir(data):
    dataframe = pd.read_csv(os.path.join(data,index))
    os.remove(os.path.join(data,index))

<b><font size='6'>Basic Data Cleaning</font></b>

In [45]:
dataframe.drop(['Unnamed: 0','commute_time', 'salary_pay', 'salary_rate','job_id','thumbnail','index',
    'salary_avg', 'salary_min', 'salary_max', 'salary_hourly','search_term','search_location',
    'salary_yearly', 'salary_standardized',],axis=1,inplace=True)

In [46]:
dataframe.iloc[:2]

,title,company_name,location,via,description,extensions,posted_at,schedule_type,work_from_home,salary,date_time,description_tokens
0,Data Analyst,Chloeta,"Oklahoma City, OK",via ZipRecruiter,Job Summary: The Data Analyst oversees data pr...,"['21 hours ago', 'Full-time', 'Health insuranc...",21 hours ago,Full-time,NaN,NaN,2023-08-03 03:00:09.849838,"['r', 'python']"
1,Junior Data Analyst/Scientist Role - Contract ...,Upwork,Anywhere,via Upwork,"Company\n\nThe TAC Index provides independent,...","['17 hours ago', 'Work from home', 'Contractor...",17 hours ago,Contractor,True,NaN,2023-08-03 03:00:09.849838,"['postgresql', 'python', 'r', 'mongodb', 'pand..."

<b><font size='6'>Export to Database</font></b>

In [47]:
dataframe.to_sql('data_science_jobs',mysql_engine,index=False,if_exists='replace')

40733